Source: pyyaml
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Scott Kitterman <scott@kitterman.com>
Build-Depends: debhelper (>= 10), dh-python, python3-all-dev, python3-all-dbg, libyaml-dev, cython3, cython3-dbg
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/python-team/modules/pyyaml.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/pyyaml
Standards-Version: 4.5.0
Homepage: https://github.com/yaml/pyyaml

Package: python3-yaml
Architecture: any
Multi-Arch: allowed
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: YAML parser and emitter for Python3
 Python3-yaml is a complete YAML 1.1 parser and emitter for Python3.  It can
 parse all examples from the specification. The parsing algorithm is simple
 enough to be a reference for YAML parser implementors. A simple extension API
 is also provided.  The package is built using libyaml for improved speed.

Package: python3-yaml-dbg
Section: debug
Architecture: any
Depends: python3-yaml (= ${binary:Version}), python3-dbg, ${shlibs:Depends}, ${misc:Depends}
Description: YAML parser and emitter for Python3 (debug build)
 Python3-yaml is a complete YAML 1.1 parser and emitter for Python3.  It can
 parse all examples from the specification. The parsing algorithm is simple
 enough to be a reference for YAML parser implementors. A simple extension API
 is also provided.  The package is built using libyaml for improved speed.
 .
 This package contains the extension built for the Python3 debug interpreter.
